.header {
  &__title {
    padding-top: 100px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
  }

  &__thousand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin-bottom: 50px;
  }

  &__button {
    margin-bottom: 30px;
    display: inline-block;
  }
}
