.nav {
  display: flex;
  flex-direction: flex-end;
  align-items: flex-end;
  padding-top: 20px;
  margin-top: 20px;

  &__hamburger {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 45px;
    height: 45px;
  }

  &__list {
    margin-bottom: 0;
  }

  &__link {
    font-size: 14px;
    color: $grey;
    padding: 15px 0;
    border-bottom: solid 1px rgb(214, 209, 209);
    display: block;
    text-align: center;

    &--active {
      color: rgb(90, 89, 89);
    }

    &:hover {
      color: rgb(90, 89, 89);
      background: rgb(209, 202, 202);
      text-decoration: none;
    }
  }
  &__item {
    &:last-child {
      .nav__link {
        border-bottom: none;
      }
    }
  }

  &__button {
    display: block;
    text-align: center;
  }

  &__group {
    display: none;
    justify-content: flex-end;
  }
}

@media (min-width: $screen-lg-min) {
  .nav {
    display: flex;

    &__hamburger {
      & .hamburger {
        display: none;
      }
    }

    &__group {
      display: flex;
    }

    &__list {
      display: flex;
      align-items: baseline;
    }

    &__item {
      padding: 0 15px;
    }

    &__link {
      border-bottom: none;
      display: inline;

      &:hover {
        background: none;
      }
    }
  }
}