.nav {
  display: flex;
  flex-direction: flex-end;
  align-items: flex-end;
  padding-top: 20px;
  margin-top: 20px;

  &__hamburger {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 45px;
    height: 45px;
  }

  &__list {
    padding-left: 0;
    margin-bottom: 0;
  }

  &__link {
    font-size: 14px;
    padding-right: 20px;
    text-decoration: none;
    color: $grey;

    &--active {
      text-decoration: none;
      color: $black;
    }

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}