.stories {
  &__link {
    color: $alpha;

    &:hover {
      color: $alpha;
      text-decoration: none;
    }
  }

  &__text {
    text-align: center;
  }

  &__img {
    background: rgb(177, 171, 171);
    width: 260px;
    height: 260px;
  }
}