.stories {

  &__title {
    margin-bottom: 30px;

  }

  &__box {
    width: 100%;
    text-align: center;

  }

  &__link {
    color: $alpha;
    margin-bottom: 25px;
    display: inline-block;
    text-align: center;

    &:hover {
      color: $alpha;
      text-decoration: none;
    }
  }

  &__info {
    text-align: center;

  }

  &__text {
    text-align: center;
    font-size: 13px;
    color:  #7D7987;
  }

  &__card {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__img {
    background: rgb(177, 171, 171);
    width: 220px;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

@media (min-width: $screen-sm-min) {
  .stories {
    &__info {
      text-align: left;

    }

    &__text {
      text-align: left;
    }

    &__box {
      text-align: left;
    }

  }
}