.button {
  background: $alpha;
  border-radius: 8px;
  color: white;
  padding: 10px 25px;

  &:hover {
    text-decoration: none;
    color: white;
  }

  &--inverted {
    border-radius: 8px;
    border: 1px solid $alpha;
    color: $alpha;
    padding: 10px 30px;

    &:hover {
      text-decoration: none;
      color: $alpha;
    }
  }
}

/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
