.button {
  font-size: 12px;
  background: $alpha;
  border-radius: 6px;
  color: white;
  padding: 7px 17px;

  &:hover {
    text-decoration: none;
    color: white;
  }

  &--inverted {
    border-radius: 6px;
    border: 1px solid $alpha;
    color: $alpha;
    background: transparent;

    &:hover {
      color: $alpha;
    }
  }
}
