.black {
  color: #000; }

.white {
  color: #fff; }

/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.button {
  background: #ff7402b4;
  border-radius: 8px;
  color: white;
  margin: 0 20px;
  padding: 5px 25px; }
  .button:hover {
    text-decoration: none;
    color: white; }
  .button--inverted {
    border-radius: 8px;
    border: 1px solid #ff7402b4;
    color: #ff7402b4;
    margin: 0 20px;
    padding: 5px 30px; }
    .button--inverted:hover {
      text-decoration: none;
      color: #ff7402b4; }
  .button__header {
    background: #ff7402b4;
    border-radius: 8px;
    color: white;
    padding: 10px 25px; }
    .button__header:hover {
      text-decoration: none;
      color: white; }

/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* MOBILE STYLES ------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  background-color: #fff;
  border-bottom: 1px solid #000;
  border: none;
  box-sizing: border-box;
  color: #000;
  display: block;
  margin-bottom: 10px;
  padding: 10px 15px;
  width: 100%; }

/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* MOBILE STYLES ------------------------------------------------------------*/
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  margin-top: 10px; }

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 10px; }

/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.nav {
  margin-top: 50px; }
  .nav__link {
    padding-right: 20px;
    text-decoration: none;
    color: #B8BECD; }
    .nav__link--active {
      text-decoration: none;
      color: #000; }
    .nav__link:hover {
      color: #000;
      text-decoration: none; }

.logo {
  padding-top: 40px; }

.thousand {
  padding-top: 60px;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block; }

.header__title {
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block; }

/* MOBILE STYLES ------------------------------------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif; }

/* MEDIA QUERY --------------------------------------------------------------*/
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
