.black {
  color: #000; }

.white {
  color: #fff; }

/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.button {
  background: #ff7402;
  border-radius: 8px;
  color: white;
  padding: 10px 25px; }
  .button:hover {
    text-decoration: none;
    color: white; }
  .button--inverted {
    border-radius: 8px;
    border: 1px solid #ff7402;
    color: #ff7402;
    padding: 10px 30px;
    margin-right: 15px; }
    .button--inverted:hover {
      text-decoration: none;
      color: #ff7402; }

/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* MOBILE STYLES ------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  background-color: #fff;
  border-bottom: 1px solid #000;
  border: none;
  box-sizing: border-box;
  color: #000;
  display: block;
  margin-bottom: 10px;
  padding: 10px 15px;
  width: 100%; }

/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* MOBILE STYLES ------------------------------------------------------------*/
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  margin-top: 10px; }

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 10px; }

/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* MOBILE STYLES ------------------------------------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif; }

/* MEDIA QUERY --------------------------------------------------------------*/
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
.lear-more__title {
  padding-top: 150px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  overflow: auto; }

.lear-more__text {
  color: #7D7987;
  padding-top: 35px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  overflow: auto;
  margin-bottom: 40px; }

.lear-more__img {
  width: 100%; }

.header__title {
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block; }

.header__thousand {
  padding-top: 60px;
  padding-bottom: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block; }

.nav {
  padding-top: 20px;
  margin-top: 20px; }
  .nav__link {
    padding-right: 20px;
    text-decoration: none;
    color: #B8BECD; }
    .nav__link--active {
      text-decoration: none;
      color: #000; }
    .nav__link:hover {
      color: #000;
      text-decoration: none; }

.destinations {
  padding-top: 200px; }
  .destinations__featured {
    padding-bottom: 75px; }
  .destinations__view-all {
    color: #ff7402;
    text-decoration: none; }
    .destinations__view-all:hover {
      color: #ff7402;
      text-decoration: none; }
  .destinations__image {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    display: flex;
    align-items: flex-end; }
  .destinations__info {
    border-top-right-radius: 12px;
    width: 50%;
    background: white; }
  .destinations__countries {
    color: #B8BECD; }
